<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="header">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrinkto-fit=no">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">

    <link rel="stylesheet"  th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet"  th:href="@{/css/user.css}">
    <link rel="stylesheet"  th:href="@{/css/dashboard.css}">
    <th:block layout:fragment="css"></th:block>

    <title>CampingSNS Admin</title>
</head>